 <div class='chat-wrapper'>
   <div class='chat-message padding'>

     <div *ngFor="let item of chatMessages">

       <div class="chat-message" [ngClass]="{'chat-message-sender': username.toLowerCase().trim() === item.fromUser,
                                             'chat-message-recipient': username.toLowerCase().trim() !== item.fromUser }">

         <img class='chat-image chat-image-default' src='https://placebear.com/75/75' />
         <div class='chat-message-wrapper'>
           <div class='chat-message-content'>
             <p>{{item.content}}</p>
           </div>
           <div class='chat-details'>
             <span class='chat-message-localization font-size-small'>{{item.timeStamp | date : 'h:mm:ss a'}}</span>
           </div>
         </div>

       </div>

     </div>


   </div>
 </div>
 <div class="post-message-wrap">
   <form [formGroup]="chatGroup">
     <textarea id="postMessage" row="2" formControlName="chatMessage">

    </textarea>
     <button type="submit" class="btn btn-primary" (click)="sendMessage();">Send</button>
   </form>
 </div>
